In [3]:
## Will solve the assignment of Pandas

import numpy as np
import pandas as pd

In [5]:
## Read the data and display it

df = pd.read_csv("hotel_booking.csv")
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

## 1. How many rows are there

In [7]:
## number of rows 
df.shape[0]

119390

## 2. Is there a missing data? if so which column has the higest missing data

In [22]:
df1 = df.isnull().sum()
df1.sort_values(ascending = False)
## And company column has  has the higest

company                           112593
agent                              16340
country                              488
children                               4
hotel                                  0
booking_changes                        0
deposit_type                           0
days_in_waiting_list                   0
customer_type                          0
adr                                    0
reserved_room_type                     0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
assigned_room_type                     0
previous_bookings_not_canceled         0
is_canceled                            0
previous_cancellations                 0
is_repeated_guest                      0
distribution_channel                   0
market_segment                         0
meal                                   0
babies                                 0
adults                                 0
stays_in_week_nights                   0
stays_in_weekend_nights                0
arrival_date_day_of_month              0
arrival_date_week_number               0
arrival_date_month                     0
arrival_date_year                      0
lead_time                              0
credit_card                            0
dtype: int64

## 3. Drop the company column from the dataset?

In [25]:
df.drop("company",axis = 1).columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card'],
      dtype='object')

## 4. What are the Most commonly types of country codes in dataset?

In [29]:
df["country"].value_counts().iloc[0:5]

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

## 5. Who is the person who paid the higest ADR(Average Daily Rate) ? how much was their ADR

In [34]:
df["adr"].max()

5400.0

In [42]:
df.iloc[df["adr"].argmax()]["name"]

'Daniel Walter'

## 6. What is mean adr across the hotel stays in dataset?

In [44]:
round(df["adr"].mean(),2)

101.83

## 7. What is mean of night for a stay across the entire datasets?

In [47]:
df["total_stay_night"] = df['stays_in_weekend_nights'] + df["stays_in_week_nights"]
round((df['stays_in_weekend_nights'] + df["stays_in_week_nights"]).mean(),2)

3.43

## 8. What is the average total cost for stay in dataset? not average daily cost.

In [50]:
total_spends = df["adr"]*df["total_stay_night"]
round(total_spends.mean() , 2)

357.85

## 9. What are the name of special people who have 5 "special request"

In [64]:
df[df["total_of_special_requests"] == 5][["name","email"]]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

## 10. What percentage of hostel guest were classified as repeat guest?

In [63]:
round((len(df[df["is_repeated_guest"] == 1])/len(df))*100 ,2)

3.19

## 11. What are the top 5 common last names in datasets?

In [76]:
df["name"].str.split(" ").str[-1].value_counts().iloc[0:5]

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

## 12. What are the names of people who booked most number of children and babies for their saty?

In [92]:
df["total_babies_children"] = df["children"]+df["babies"]
df.sort_values("babies_children" ,ascending = False)[["name","total_babies_children"]]

                     name  total_babies_children
328         Jamie Ramirez                   10.0
46619     Nicholas Parker                   10.0
78656       Marc Robinson                    9.0
19718   Mr. Jeffrey Cross                    3.0
107837      Albert French                    3.0
...                   ...                    ...
119389     Ariana Michael                    0.0
40600        Craig Campos                    NaN
40667        David Murphy                    NaN
40679        Frank Burton                    NaN
41160       Jerry Roberts                    NaN

[119390 rows x 2 columns]

## 13. what are the top 3 most common area codes in phone number?

In [96]:
df["phone-number"].apply(lambda code: code.split("-")[0]).value_counts().head()

799    168
185    167
541    166
739    163
763    163
Name: phone-number, dtype: int64

## 14. How many arrivals took place in 1st and 15th of the month inclusive of 1 and 15?

In [107]:
((df['arrival_date_day_of_month'] >= 1) & (df['arrival_date_day_of_month'] <= 15)).sum()

58152

## 15. Create a table count for each day of the week that people arrived

In [112]:
def convert(day ,month ,year):
     return f"{day}-{month}-{year}"

In [113]:
df["date"] = np.vectorize(convert)(df['arrival_date_day_of_month'],
                                df["arrival_date_month"],
                                  df["arrival_date_year"])

In [114]:
df["date"]

0            1-July-2015
1            1-July-2015
2            1-July-2015
3            1-July-2015
4            1-July-2015
               ...
119385    30-August-2017
119386    31-August-2017
119387    31-August-2017
119388    31-August-2017
119389    29-August-2017
Name: date, Length: 119390, dtype: object